@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: #2b85ff;
    --secondary: #ef863e;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border border-gray-300 px-4 py-2 rounded mb-4 outline-none;
  }
  .btn-primary {
    @apply w-full text-sm bg-primary text-white py-2 rounded my-1 hover:bg-blue-500;
  }
  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
  }
  .input-label {
    @apply text-xs text-slate-400;
  }
}
